$black : #131316;
$white:  #ffffff;
$white-op: rgba(255, 255, 255, 0.9);
$green: #0EA163;
$jade: #E3FCF2;
$red: #F9E3E0;
$gold: #A77A07;
$orange: #FF5E13;
$grey: #EFF1F6;
$dark-grey: #56616B;
$disabled: #DBDEE5;
$text-normal: 16px;
$text-size: 14px;
$text-small-header: 28px;
$text-header: 36px;
$letter-spacing: -0.4000000059604645px;
$text-spacing: -0.2px;
$small-letter-spacing: -0.6000000238418579px;
$letter-spacing-header: -1.5px;
$line-height: 16px;
$text-height: 24px;
$small-line-height: 38px;
$line-height-header: 48px;
$box-shadow: 0px 2px 4px 0px rgba(45, 59, 67, 0.05), 0px 2px 6px 0px rgba(45, 59, 67, 0.06);
$lil-box-shadow: 0px 6px 12px 0px rgba(92, 115, 131, 0.08), 0px 4px 8px 0px rgba(92, 115, 131, 0.08);
$global-capped-width: 1440px;